.CompanyCard {
  color: black;
  text-align: left;
}

.CompanyCard :hover {
  cursor: pointer;
  color: black;
}

.CompanyCard-image-container {
  display: flex;
  justify-content: flex-end;
}

.CompanyCard-image {
  width: 60px;
}