.ProfileForm-label {
  display: flex;
  justify-content: start;
  font-weight: bold;
}

.ProfileForm {
  background-color: white;
  border: lightgray 1px solid;
  border-radius: 4px;
  padding: 40px;
}